html, body, 
ul, li, 
h1, h2, h3, p,{
  margin: 0;
  padding: 0;
}

body {
	font-family: "Avenir Next";
	background-image: url("bg1.png");
	background-repeat:no-repeat;
	background-size: 200% 200%;
}

li {
	list-style: none;
}

.header {
	height: 120px;
	background-color: rgba(145,230,218,0.6);
}

.header-logo {
	float: left;
	padding: 25px 50px;
}

.header-list {
	float: left;
	font-size: 23px;
}

.header-list li {
	float: left;
	padding: 20px 30px;
}

.main{
	padding:40px 40px;
	margin:auto;
}

.copy-container h1{
	font-size:70px;
	text-align: center;
	background-color: rgba(145,230,218,0.4);
	height: 80px;
}

.copy-container h2{
	font-size:50px;
	text-align: center;
	background-color: rgba(145,230,218,0.4);
}

.section-title {
	border-bottom: 4px solid #dee7ec;
	font-size: 35px;
	padding-bottom: 5px;
	margin-top: 50px;
	margin-bottom: 20px;
	background-color: rgba(145,230,218,0.3);
}

.description {
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 25px;
	background-color: rgba(145,230,218,0.4);
}

.penjelasan {
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 25px;
	background-color: rgba(128,255,191,0.1);
}

.howto {
	margin-top: 50px;
	font-size: 25px;
	background-color: rgba(145,230,218,0.3);
}

.howto li{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 25px;
	background-color: rgba(128,255,191,0.1);
}

.contents {
	margin-top: 50px;
	margin-bottom:25px;
	font-size: 25px;
}

.table{
	font-size: 20px;
	position: center;
}

.footer{
	padding: 
}